# Lynk Browser - synced via Syncthing
configs/lynk-browser/

# Neovim lazy lock
configs/neovim/.config/nvim/lazy-lock.json

# GTK and QT directories
gtk/
qt/

# Syncthing
.stfolder/

# macOS
**/.DS_Store
