/* Custom CSS for Lynk Browser
 * Changes will apply after clicking "Refresh Styles" in settings.
 *
 * Example:
 * :root {
 *   --background: #1a1a1a;
 *   --foreground: #ffffff;
 * }
 */

/* Catppuccin Theme for Lynk Browser */
.light {
  --radius: 0.625rem;
  --background: #f4f7ff; /* base */
  --foreground: #5a5f75; /* text */
  --card: #f4f7ff; /* base */
  --card-foreground: #5a5f75; /* text */
  --popover: #f4f7ff; /* base */
  --popover-foreground: #5a5f75; /* text */
  --primary: #b47aff; /* accent - Mauve */
  --primary-foreground: #f4f7ff; /* base */
  --secondary: #d9e0f3; /* surface0 */
  --secondary-foreground: #5a5f75; /* text */
  --muted: #d9e0f3; /* surface0 */
  --muted-foreground: #6a6f81; /* subtext1 */
  --accent: #d9e0f3; /* surface0 */
  --accent-foreground: #5a5f75; /* text */
  --destructive: #e95b70; /* red */
  --border: #bcc5d9; /* surface1 */
  --input: #bcc5d9; /* surface1 */
  --ring: #5a5f75; /* text */
  --chart-1: #e47eb8; /* red */
  --chart-2: #7bc4b1; /* teal */
  --chart-3: #92c8e3; /* blue */
  --chart-4: #e5c9b8; /* yellow */
  --chart-5: #b8c8a9; /* green */
  --sidebar: #eef2ff; /* mantle */
  --sidebar-foreground: #5a5f75; /* text */
  --sidebar-primary: #b47aff; /* accent - Mauve */
  --sidebar-primary-foreground: #f4f7ff; /* base */
  --sidebar-accent: #f4f7ff; /* surface0 */
  --sidebar-accent-foreground: #5a5f75; /* text */
  --sidebar-border: #bcc5d9; /* surface1 */
  --sidebar-ring: #bcc5d9; /* surface1 */
}

.dark {
  --radius: 0.625rem;
  --background: #1b1b25; /* base */
  --foreground: #bcc9f1; /* text */
  --card: #1b1b25; /* base */
  --card-foreground: #bcc9f1; /* text */
  --popover: #1b1b25; /* base */
  --popover-foreground: #bcc9f1; /* text */
  --primary: #c5a2ff; /* accent - Mauve */
  --primary-foreground: #1b1b25; /* base */
  --secondary: #2c2b3a; /* surface0 */
  --secondary-foreground: #bcc9f1; /* text */
  --muted: #2c2b3a; /* surface0 */
  --muted-foreground: #c2cbed; /* subtext1 */
  --accent: #2c2b3a; /* surface0 */
  --accent-foreground: #bcc9f1; /* text */
  --destructive: #f368a5; /* red */
  --border: #3f4250; /* surface1 */
  --input: #3f4250; /* surface1 */
  --ring: #bcc9f1; /* text */
  --chart-1: #70495f; /* red */
  --chart-2: #4b5e64; /* teal */
  --chart-3: #576382; /* blue */
  --chart-4: #716a65; /* yellow */
  --chart-5: #54615a; /* green */
  --sidebar: #191925; /* mantle */
  --sidebar-foreground: #bcc9f1; /* text */
  --sidebar-primary: #c5a2ff; /* accent - Mauve */
  --sidebar-primary-foreground: #1b1b25; /* base */
  --sidebar-accent: #1b1b25; /* surface0 */
  --sidebar-accent-foreground: #bcc9f1; /* text */
  --sidebar-border: #3f4250; /* surface1 */
  --sidebar-ring: #3f4250; /* surface1 */
}
