{
  "base": "#{{ colors.surface.default.hex_stripped }}",
  "accent": "#{{ colors.primary.default.hex_stripped }}",
  "selected": "#{{ colors.secondary_container.default.hex_stripped }}",
  "text": "#{{ colors.on_surface.default.hex_stripped }}"
}
