@import url("file:///home/kyandesutter/.config/formalconf/current/theme/waybar.css");

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "GeistMono Nerd Font", "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  background: @background;
  color: @foreground;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
  background: transparent;
}

#workspaces button {
  background: transparent;
  color: @foreground;
  font-family: "GeistMono Nerd Font", "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
  margin: 3px 2px;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease;
}

#workspaces button:hover {
  background: alpha(@foreground, 0.1);
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
  background: @foreground;
  color: @background;
}

#workspaces button.active label {
  color: @background;
}

#workspaces button.special {
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
  opacity: 0;
}

#custom-spotify {
  background: transparent;
  color: #1db954;
  padding: 0 6px;
  margin: 0 2px;
}

#custom-spotify.paused {
  color: @foreground;
}

#custom-spotify.stopped {
  color: @foreground;
  opacity: 0.5;
}

#clock,
#battery,
#pulseaudio,
#network,
#backlight,
#power-profiles-daemon {
  background: transparent;
  color: @foreground;
  padding: 0 6px;
  margin: 0 2px;
}

tooltip {
  padding: 8px 12px;
  background: @background;
  color: @foreground;
  border-radius: 8px;
}

tooltip label {
  color: @foreground;
}

#battery.warning {
  color: #f9e2af;
}

#battery.critical {
  color: #f38ba8;
  animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
  to {
    color: @foreground;
  }
}

#pulseaudio.muted {
  opacity: 0.5;
}

#network.disconnected {
  color: @background;
  background: #f38ba8;
  border-radius: 5px;
}
